.donateyourshoes {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(90, 90, 90, 0.5)), to(rgba(90, 90, 90, 0.5))), url(../images/cateringservices.jpg);
  background-image: linear-gradient(to right, rgba(90, 90, 90, 0.5), rgba(90, 90, 90, 0.5)), url(../images/cateringservices.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}
.donateyourshoes .callout2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.donateyourshoes .callout2 .cateringservicestitle {
  margin-top: 130px;
  font-size: 70px;
  font-family: Baskervile-Italic;
  color: honeydew;
}
@font-face {
  font-family: Baskervile-Italic;
  src: url(../fonts/Baskervville/Baskervville-Italic.ttf);
}
.donateyourshoes .callout2 .explorebutton {
  padding: 5px 20px;
  border-radius: 20px;
  background-color: brown;
  color: honeydew;
  border: none;
  font-family: Baskervile-Regular;
  width: 220px;
  height: 40px;
  margin-right: 10px;
  margin-top: 50px;
  font-size: 23px;
  text-align: center;
}
@font-face {
  font-family: Baskervile-Regular;
  src: url(../fonts/Baskervville/Baskervville-Regular.ttf);
}