.donateyourshoes{
    background-image: linear-gradient(to right, rgba(90, 90, 90,.50),rgba(90, 90, 90,.50)), url(../images/recycleshoes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;

    .callout2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        .donateyourshoestitle{
        text-align: center;
        width: 100%;
        margin-top: 150px;
        font-size: 90px;
        font-family: Cabin-Regular;
        color: bisque;
        @font-face {
            font-family: Cabin-Regular;
            src: url(../fonts/Cabin/Cabin-VariableFont_wdth\,wght.ttf);
        }
   }

        .donateshoesinfo{
            font-size: 25px;
            width: 85%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
            color: bisque;
        }


   
            .explorebutton{
            padding: 5px 20px; 
            border-radius: 20px;
            background-color: darkcyan;
            color: bisque;
            border: none;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            width: 220px;
            height: 40px;
            margin-right: 10px;
            margin-top: 50px;
            font-size: 23px;
            text-align: center;

}
    }
}

@media screen and (max-width: 960px) {
    .donateyourshoes {
        height: 600px;
    }
  }